<app-navbar-style-four></app-navbar-style-four>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>List Events</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>List Events</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>
<h1 class="text-center my-5">Your Events</h1>

<div class="case-study-area pt-50 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let event of events">
          <div class="case-study-card">
            <div class="content">
              <h3>{{ event.eventTitle }}</h3>
              <span>{{ event.eventDescription }}</span>
              <p>Location :{{ event.eventLocation }}</p>
              <p>At :{{ event.eventDate| date:'mediumDate' }}</p>
              <p>Type:{{ event.eventType }}</p>
              <p>Meet Link :{{ event.eventLinkHangout }}</p>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


         

           

       
        

        
         
 



<app-footer-style-two></app-footer-style-two>